@using System
@using BankAccount.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DDD, Cqrs, EventSourcing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var user = ViewBag.User as UserViewModel;
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Contoso Bank Corp.", "LogIn", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-left">
                    @if (user != null)
                    {
                        <li>@Html.ActionLink("Accounts", "Index", "Home")</li>
                    }
                </ul>
                <div class="pull-right" style="padding-top: 14px;">
                    @if (user != null)
                    {
                        <span style="color: #fff;">Wellcome, @user.Name !</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top: 40px;">
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - Contoso Bank Corp.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
