@using BankAccount.ValueTypes
@using BankAccount.ViewModels
@model DetailsBankAccountViewModel

@{
    ViewBag.Title = "Bank account details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var accounts = ViewBag.Accounts as List<AccountViewModel>;
}

<style>
    fieldset {
        margin-bottom: 20px;
    }
</style>

<fieldset>
    <legend>Person details</legend>

    <table>
        <tr>
            <td style="width: 200px; font-weight: bold;">@Html.DisplayNameFor(model => model.AggregateId)</td>
            <td>@Html.DisplayFor(model => model.AggregateId)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.IdCard)</td>
            <td>@Html.DisplayFor(model => model.IdCard)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.IdNumber)</td>
            <td>@Html.DisplayFor(model => model.IdNumber)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Dob)</td>
            <td>@Model.Dob.ToShortDateString()</td>
        </tr>
    </table>
    <hr/>
    <p>
        @Html.ActionLink("Edit customer details", "EditCustomer", new {id = Model.AggregateId})
    </p>

</fieldset>

<fieldset>
    <legend>Contact data</legend>

    <table>
        <tr>
            <td style="width: 200px; font-weight: bold;">@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Phone)</td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
    </table>
    <hr />
    <p>
        @Html.ActionLink("Edit contact details", "EditContact", new { id = Model.AggregateId })
    </p>

</fieldset>

<fieldset>
    <legend>Address</legend>

    <table>
        <tr>
            <td style="width: 200px; font-weight: bold;">@Html.DisplayNameFor(model => model.Street)</td>
            <td>@Html.DisplayFor(model => model.Street)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Zip)</td>
            <td>@Html.DisplayFor(model => model.Zip)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Hausnumber)</td>
            <td>@Html.DisplayFor(model => model.Hausnumber)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.State)</td>
            <td>@Html.DisplayFor(model => model.State)</td>
        </tr>
    </table>
    <hr/>
    <p>
        @Html.ActionLink("Edit address details", "EditAddress", new {id = Model.AggregateId})
    </p>

</fieldset>

<fieldset>
    <legend>Bank accounts <span style="font-size: 10pt;">(acount number / currency / current balance)</span></legend>

    @if (accounts == null || !accounts.Any())
    {
        <div>There are no bank account for this customer yet!</div>
    }
    else
    {
        <table style="width: 100%;" cellpadding="5">
            @foreach (var a in accounts.ToList())
            {
                <tr>
                    <td style="width: 400px; font-weight: bold;">@a.AggregateId</td>
                    <td>@a.Currency @($"{a.CurrentBalance:#,###.##}")</td>
                    <td style="text-align: right;">
                        @switch (a.AccountState)
                        {
                            case State.Closed:
                                // ...
                                break;
                            case State.Locked:
                                @Html.ActionLink("Unlock account", "UnlockAccount", new { accountId = a.AggregateId, customerId = Model.AggregateId }, new { @class = "btn btn-default btn-xs", style = "margin-right: 5px;" })
                                @Html.ActionLink("Delete account", "DeleteAccount", new { accountId = a.AggregateId, customerId = Model.AggregateId }, new { @class = "btn btn-default btn-xs", style = "margin-right: 5px;" })
                                break;
                            default:
                                @Html.ActionLink("Money transfer", "TransferMoney", new { id = a.AggregateId }, new { @class = "btn btn-default btn-xs", style = "margin-right: 5px;" })
                                @Html.ActionLink("Lock account", "LockAccount", new { accountId = a.AggregateId, customerId = Model.AggregateId }, new { @class = "btn btn-default btn-xs", style = "margin-right: 5px;" })
                                @Html.ActionLink("Delete account", "DeleteAccount", new { accountId = a.AggregateId, customerId = Model.AggregateId }, new { @class = "btn btn-default btn-xs", style = "margin-right: 5px;" })
                                break;
                        }

                        @Html.ActionLink("Bank statement", "History", new { id = a.AggregateId, name = Model.FirstName + " " + Model.LastName, customerId = Model.AggregateId, currency = a.Currency}, new {@class = "btn btn-default btn-xs"})
                    </td>
                </tr>
            }
        </table>
    }
</fieldset>
<hr/>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    
    @Html.ActionLink("Delete customer", "DeleteCustomer", new { id = Model.AggregateId }, new { @class = "btn btn-default pull-right" })
    @Html.ActionLink("Add new account", "Create", new { customerId = Model.AggregateId }, new { @class = "btn btn-default pull-right", style = "margin-right: 5px;" })
</p>